.footer {
    background: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 3em;
    color: white;

    .dine {
        font-weight: bolder;
        font-size: 3em;
        
    }



    
}